<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
        <p>
            I'm currently an Engineer at
            <a class="underline-link" href="https://www.yelp.com/" target="_blank">Yelp</a> building infrastructure for the web with some awesome people. I graduated from
            <a class="underline-link" href="http://bitmesra.ac.in/" target="_blank">Birla Institute of Technology, Mesra</a> in 2018, where I headed
            <a class="underline-link" href="https://github.com/bitlug/" target="_blank">DC, BIT Mesra</a> and performed duties of Network Administrator for its infrastructure. During my time at university, I also mentored students and headed
            <a class="underline-link" href="http://bitmesra.acm.org/" target="_blank">Association of Computing Machinery, BIT Mesra</a> as its Webmaster.
        </p>
        <p>
            I have helped small and large scale technology businesses to develop and scale their ideas on the web. I have worked to 
            help <a class="underline-link" href="https://browserstack.com/" target="_blank"> fortune 500 to be more agile</a>, 
            
            create <a class="underline-link" href="https://browserstack.com/" target="_blank">blazing fast infrastructure for next generation cellular devices</a>, 
            
            improve <a class="underline-link" href="https://mozilla.github.io/ssh_scan/" target="_blank"> system security over web</a>, 
            
            enable <a class="underline-link" href="https://osem.io" target="_blank"> online presence for event organisers</a>, 
            
            provide <a class="underline-link" href="https://play.google.com/store/apps/details?id=study.noted.app&hl=en" target="_blank"> students easy access to education</a>, 
            
            written a variety of softwares and more.<br>
            You can find my open source projects on <a class="underline-link" href="{{site.social[5].url}}" target="_blank">GitHub</a>.
        </p>
        <p>
            <strong>When I'm not in front of a computer screen</strong>, I'm probably singing, listening to music, reading about technology,
            or crossing off another item on my bucket list.
        </p>
        <!-- {% include employment-status.html %} -->
    </div>
</section>